@page "/todo"

<h1>Todo List</h1>

<p>Add Todo: <input type="text" @bind-value="todo" /><button class="btn btn-primary" @onclick="AddTodo">Add</button></p>

<table>
    <tr>
        <td>Todo</td>
    </tr>
    @foreach (var item in Todos)
    {
        <tr>
            <td>@item</td>
            <td><button class="btn btn-primary" @onclick="() => { DeleteTodo(item); }">Delete</button></td>
        </tr>
    }
</table>

@code {
    private int currentCount = 0;
    public List<string> Todos { get; set; } = new List<string>();
    public string todo { get; set; }
    private void AddTodo()
    {
        Todos.Add(todo);
        todo = string.Empty;
    }
    private void DeleteTodo(string item)
    {
        Todos.Remove(Todos.Find(y => y == item));
    }
}
